[Desktop Entry]
Type=Application
Name=TikTok
GenericName=Stopwatch
Comment=Stupid simple GTK4 stopwatch
Exec=tiktok
Icon=tiktok
Terminal=false
Categories=Utility;GTK;
Keywords=stopwatch;timer;time;clock;
StartupNotify=true
